@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

img {
  cursor: pointer;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-nav li a {
  font-weight: 500;
  font-size: 14px;
  color: #0f0d0a;
}

.header-search-bar {
  width: 275px;
  height: 40px;
  border-radius: 8px !important;
  border: 0 !important;
  padding: 10px !important;
  margin-left: 20px;
}
.header-search-bar:focus{
  border: 1px solid #e7dfda !important;
}
.search-button {
  background-color: #FD3109;
  padding: 15px;
  border-radius: 0px 10px 10px 0px;
}

.header-search-button{
  color: #fff;
  background-color: #FD3109 !important;
  border-color: #FD3109 !important;
  padding: 0;
}
.header-search-button:hover{
  color: #fff;
}

.main-locations {
  max-height: 250px;
  overflow-y: auto;
}

.header-search-bar:focus-visible {
  outline: none;
}

.header-search-bar::placeholder {
  font-size: 14px;
  color: #7e7367;
}

.search-icon {
  top: 10px;
  right: 10px;
  display: none;
}

.sign-in-btn {
  background-color: #200df2;
  color: #fff !important;
  padding: 10px 15px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-size: 14px;
}

.banner-content {
  padding: 16px;
}

.carousel-inner {
  text-align: center;
  margin: 0 auto;
}
.location-drop-head {
  max-width: 110px;
  background-color: transparent;
  border: none;
  font-size: 14px !important;
}
.dropdown-toggle{
  overflow: hidden;
}
.form-select:focus {
  border-color: transparent;
  box-shadow: none;
}


.main-header-search {
  display: flex;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.head-btn {
  border: 1px solid #200df2;
  padding: 10px 15px;
  color: #200df2 !important;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.sign-in-btn:hover {
  box-shadow: rgba(83, 169, 254, 0.428) 0px 8px 24px;
  color: #000 !important;
  background-color: #fff;
}
.sign-in-btn:hover .sign-icon {
  filter: invert(1);
}
.head-btn:hover .sign-icon {
  filter: invert(1);
}

.head-btn:hover {
  box-shadow: rgba(83, 169, 254, 0.428) 0px 8px 24px;
  color: #fff !important;
  background-color: #200df2;
  border-color: #200df2;
}
.main-sections {
  margin: 60px 0 100px;
}

.main-header {
  background-color: #fbfaf9;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  border: 1px solid #9a9999;
  background-color: #2e2e2e;
  border-radius: 6px;
}

.carousel-control-prev {
  left: -13% !important;
  top: 40% !important;
  height: 50px;
  filter: invert(1);
}
.carousel-control-next {
  right: -10% !important;
  top: 54% !important;
  height: 50px;
  filter: invert(1);
}
.banner-head {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 66px;
  line-height: 92px;
}

.banner-desc {
  font-weight: 400;
  font-size: 22px;
  color: #7e7367;
  margin: 24px 0;
}

.ps-section {
  background-color: #fbfaf9;
  padding-top: 75px;
  padding-bottom: 60px;
}

.ps-images {
  width: 100%;
  height: 216px !important;
  object-fit: cover;
}

.verify-section {
  background-color: #fbfaf9;
  padding-top: 40px;
  padding-bottom: 60px;
}

#carouselVerification .item {
  border: 1px solid #e7dfda;
  box-shadow: 0px 2px 4px 0px #0f0d0a1a;
  border-radius: 16px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 440px;
  background-color: #ffffff;
}

.verified-image {
  text-align: center;
  margin: 0 auto;
}

.verified-logo-image {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 20px 0px #0f0d0a14;
  width: 80px !important;
  height: 80px !important;
  border-radius: 8px;
}

.item-spacing {
  margin-top: 28px;
  margin-bottom: 40px;
}

.item-spacing h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
}
.item-spacing h6 {
  font-weight: 700;
  font-size: 14px;
}

.pv-bx {
  border: 1px solid #e7dfda;
  border-radius: 8px;
  padding: 5px 9px;
  margin: 0 16px;
}

.verified-para {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: #7e7367;
  margin-top: 16px;
}

.slider-spacing {
  padding: 70px 0 35px;
}

.owl-nav.slide-arrows {
  text-align: center;
}

.left-arrow,
.right-arrow {
  background: #0f0d0a;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  position: absolute;
  padding: 0 !important;
}

.left-arrow {
  left: 47.5%;
}
.right-arrow {
  right: 47.5%;
}

.guidance-time {
  width: 24px !important;
  height: 24px !important;
}
.verify-icon {
  width: 16px !important;
  height: 16px !important;
}

#carouselMoment .item {
  background-color: #fbfaf9;
  padding: 14px 24px;
  border-radius: 20px;
  height: 544px;
}

.offer-content {
  padding: 25px 0;
}

.offer-spacing {
  margin-top: 50px;
}
.deal-images {
  border-radius: 20px;
}

.offer-head {
  font-weight: 700;
  font-size: 24px;
  color: #0f0d0a;
}

.offer-para {
  font-weight: 600;
  font-size: 18px;
}
.offer-para1 {
  font-weight: 400;
  font-size: 14px;
  color: #0f0d0a;
}

.new-price {
  font-weight: 500;
  font-size: 24px;
  color: #b60000;
  margin-left: 4px;
}

.acheteurs {
  background-color: #ffa500;
  color: #fff;
  border-radius: 4px;
  padding: 10px 17px;
}

.verified-bx {
  top: 24px;
  left: 46px;
  border-radius: 8px;
  padding: 5px 9px;
  background-color: #ffa500;
  color: #fff;
  align-items: center;
}

.pricing-bxx {
  margin-top: 37px;
}

.left-tags {
  top: 24px;
  right: 46px;
}

.besion-primium {
  background-color: #f57878;
  text-decoration: none;
  color: #fff !important;
  border-radius: 8px;
  padding: 5px 9px;
}
.book-online {
  background-color: #ffa500;
  text-decoration: none;
  color: #fff !important;
  border-radius: 8px;
  padding: 5px 9px;
}
.popular-gift {
  background-color: #5343ff;
  text-decoration: none;
  color: #fff !important;
  border-radius: 8px;
  padding: 5px 9px;
}

.primium {
  background-color: #f57878;
  border-radius: 5px;
  padding: 9px;
  margin-right: 5px;
  color: #fff;
}
.gift {
  background-color: #5343ff;
  border-radius: 5px;
  padding: 9px;
  margin-right: 5px;
}
.vector1 {
  background-color: #ffa500;
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 5px;
}

.old-price {
  font-weight: 700;
  font-size: 16px;
}

.offer-hrs {
  color: #b60000;
  font-weight: 600;
  font-size: 24px;
  margin-left: 10px;
}

.offer-next,
.offer-prev {
  background: #0f0d0a;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  position: absolute;
}

.offer-prev {
  left: -9% !important;
  top: 54% !important;
}
.offer-next {
  right: -9% !important;
}
.ps-next,
.ps-prev {
  background: #0f0d0a;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  position: absolute;
}

.ps-prev {
  left: -9% !important;
  top: 54% !important;
}
.ps-next {
  right: -9% !important;
}

.cat-next,
.cat-prev {
  background: #0f0d0a;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  position: absolute;
}

.cat-prev {
  left: -9% !important;
  top: 61% !important;
}
.cat-next {
  right: -9% !important;
  top: 61% !important;
}

.view-btn {
  background-color: #f8f8f8;
  border-radius: 10px;
  text-align: center;
  padding: 10px 12px;
}

.main-head {
  font-weight: 700;
  font-size: 48px;
  text-align: end;
}

.ps-image {
  height: 249px !important;
  object-fit: cover;
  border-radius: 23px;
  box-shadow: 0px 2.38px 5.96px 0px #00000040;
}

.ps-box {
  box-shadow: 0px 2.38px 5.96px 0px #00000040;
  border-radius: 23px;
}

.ps-main-section .owl-stage-outer {
  padding-bottom: 14px;
}

.ps-para {
  font-weight: 400;
  font-size: 17px;
}

.ps-content {
  padding: 17px;
}

.ps-price {
  color: #ffa500;
  font-weight: 600;
  font-size: 20px;
}

.ps-head {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 26px;
}

.ps-year {
  font-weight: 700;
  font-size: 20px;
}

.cat-image {
  height: 67px !important;
  width: 67px !important;
  object-fit: contain;
}

.cat-image-box {
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 16px;
}

.cat-box {
  background-color: #f8f8f8;
  height: 120px;
  border-radius: 20px;
  padding: 16px;
}

.cat-para {
  font-weight: 400;
  font-size: 20px;
}

.call-section {
  width: 1120px;
  max-width: 1152px;
  border-radius: 16px;
  padding: 95px 73px;
  background-color: #0f0d0a;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.call-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 50.4px;
}

.call-para {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #e7dfda;
  margin-bottom: 32px;
}

.post-project-btn {
  background-color: #efefef;
  min-height: 50px;
  border-radius: 10px;
  padding: 15px 20px;
  text-decoration: none;
  color: #000 !important;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #000;
  transition: 0.3s ease-out;
}
.search-for-provider-btn {
  border: 1px solid #ffffff;
  min-height: 50px;
  border-radius: 10px;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s ease-out;
}

.search-for-provider-btn:hover {
  background-color: #efefef;
  border: 1px solid #ffffff;
  color: #000 !important;
}

.post-project-btn:hover {
  color: #fff !important;
  border: 1px solid #ffffff;
  background-color: #000;
}

.or-text {
  color: #7e7367;
  font-weight: 400;
  font-size: 16px;
  margin: 16px;
}

.footer-section {
  background: #fbfaf9;
  padding-top: 40px;
}

.footer-para {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #463f39 !important;
}

.footer-head {
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
  color: #0f0d0a;
}

.footer-spacing {
  padding: 60px 0 0;
}

.footer-icon {
  background-color: #e7dfda;
  padding-top: 7px;
  text-align: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}
.footer-icon img {
  height: 20px;
  width: 20px;
}

.social-media-icon {
  margin-top: 32px;
  margin-bottom: 27px;
}

.language-dropdown {
  box-shadow: 0px 1px 2px 0px #7e73672e;
  border: 1px solid #e7dfda !important;
  border-radius: 6px;
  padding: 7px 13px !important;
  color: #0f0d0a !important;
}

.copyrights-text {
  font-size: 14px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.call-btn-bx {
  display: flex;
  justify-content: center;
}
.owl-next,
.owl-prev {
  display: none;
}

.head-btn-spacing {
  margin: 0 12px;
}
.main-locations a.dropdown-item.location-item {
  text-transform: lowercase;
}

@media (max-width: 1440px) {
  .main-locations .navbar-nav li a {
    text-transform: lowercase;
  }
  .sign-in-btn,
  .head-btn {
    padding: 10px 12px;
  }
  .header-search-bar {
    width: 242px;
  }
  .left-arrow {
    left: 46%;
  }
  .right-arrow {
    right: 46%;
  }

  #carouselVerification .item {
    padding: 10px;
  }
  .pv-bx {
    margin: 0 10px;
  }
  .main-header .navbar-brand {
    margin-right: 0px !important;
  }
}

@media (max-width: 1024px) {
  .head-btn-spacing {
    margin: 0 7px;
  }
  .main-header .navbar-brand {
    margin-right: 0px !important;
  }
  .sign-in-btn,
  .head-btn {
    padding: 8px 5px !important;
  }

  .header-search-bar {
    width: 100% !important;
  }
  .search-icon {
    display: none;
  }
  .sign-in-btn {
    padding: 6px 16px;
    font-size: 14px;
  }
  .head-btn {
    padding: 6px 10px;
    font-size: 12px;
  }
  .sign-icon {
    display: none;
  }
  .main-sections {
    margin: 60px 0 60px;
  }
  .call-section {
    width: 100%;
    padding: 60px 60px;
  }
  .banner-head {
    font-size: 50px;
    line-height: normal;
  }
  .banner-desc {
    font-size: 20px;
  }
  .banner-content .sign-in-btn {
    padding: 10px 25px;
    font-size: 16px;
  }
  .right-arrow {
    right: 45.5%;
  }
  .left-arrow {
    left: 45.5%;
  }
  .verify-section {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .acheteurs {
    padding: 6px 10px;
    font-size: 14px;
  }
  .new-price {
    font-size: 18px;
  }
  .old-price {
    font-size: 14px;
  }
  #carouselMoment .item {
    padding: 14px 18px;
    height: 486px;
  }
  .offer-head {
    font-size: 20px;
  }

  .offer-hrs {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .call-section {
    width: 100% !important;
  }
  .header-search-bar {
    width: 200px;
  }
  .sign-in-btn,
  .head-btn {
    padding: 8px 12px;
  }
  .sign-in-btn span,
  .head-btn span {
    font-size: 12px;
    margin-left: 0 !important;
  }
  .sign-icon {
    display: none;
  }

  .banner-head {
    font-size: 51px;
    line-height: normal;
  }
  .banner-desc {
    font-size: 20px;
  }
  .main-head {
    font-size: 40px;
    text-align: start;
  }
  #carouselMoment .item {
    height: 637px;
  }
  .main-sections {
    margin: 54px 0 70px;
  }
  .cat-prev {
    top: 57% !important;
  }
  .cat-next {
    top: 57% !important;
  }
}

@media (max-width: 991px) {
  .main-navbar {
    display: block;
  }
  .header-search-bar {
    width: 100%;
    margin-bottom: 20px;
  }
  .sign-icon {
    display: block;
  }

  .navbar {
    background-color: #ffff;
    padding-bottom: 26px !important;
    box-shadow: rgba(83, 169, 254, 0.428) 0px -3px 43px;
  }
  .sign-in-btn,
  .head-btn {
    padding: 13px 35px;
  }

  .banner-head {
    font-size: 45px;
  }
  .banner-desc {
    font-size: 18px;
  }
  .main-head {
    text-align: center;
    font-size: 33px;
  }

  #carouselMoment .item {
    height: 560px;
  }
  .cat-prev {
    top: 54% !important;
  }
  .cat-next {
    top: 54% !important;
  }
}

@media (max-width: 820px) {
  .left-arrow {
    left: 43.5%;
  }
  .right-arrow {
    right: 43.5%;
  }
}

@media (max-width: 768px) {
  button.navbar-toggler {
    border: none !important;
  }
  .dropdown-toggle::after {
    position: absolute;
    right: 18px;
    top: 20px;
}
  .sign-in-button{
    justify-content: center !important; 
  }
  .header-search-items{
    display: block !important;
  }
  .search-button {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    display: ruby-text;
    margin-bottom: 15px;
}
.header-search-button {
  padding: 10px 20px;
  border-radius: 8px;
}

.main-header-search {
  display: block;
  background-color: transparent;
}
  .main-navbar {
    display: block;
  }

  .banner-head {
    font-size: 45px;
    line-height: normal;
  }
  .location-drop-head {
    max-width: 100%;
    border: 1px solid #E7DFDA !important;
    border-radius: 10px;
    padding: 10px;
}

.location-spacing{
  margin-left: 0 !important;
}

  .header-search-bar {
    width: 100%;
    margin-bottom: 12px;
    background-color: #FFFFFF;
    border: 1px solid #E7DFDA !important;
    margin-left: 0 !important;
  }

  .sign-icon {
    display: block;
  }

  .ps-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner-desc {
    font-size: 18px;
    margin: 20px 0;
  }
  .verify-section {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .new-price {
    font-size: 20px;
    margin-left: 2px;
  }

  #carouselMoment .item {
    height: 570px;
  }
  .call-section {
    width: 100%;
    padding: 40px 40px;
  }
  .footer-spacing {
    padding: 32px 0 0;
  }
  .old-price {
    font-size: 14px;
  }
  .offer-hrs {
    font-size: 20px;
  }

  .acheteurs {
    padding: 6px 10px;
  }

  .offer-head {
    font-size: 20px;
  }
  .right-arrow {
    right: 43.5%;
  }

  .left-arrow {
    left: 43.5%;
  }
  .pv-bx {
    margin: 0 5px;
  }
  #carouselVerification .item {
    padding: 20px;
    height: 424px;
  }
  .item-spacing {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }
  .main-sections {
    margin: 40px 0 60px;
  }
  .sign-in-btn {
    font-size: 12px;
  }
  .head-btn {
    padding: 10px 15px;
    font-size: 12px;
  }

  br {
    display: none;
  }
  .sign-in-btn, .head-btn{
    padding: 10px 15px !important;
  }
}

@media (max-width: 500px) {
  .banner-head {
    font-size: 42px;
    line-height: 65px;
    text-align: center;
  }
  .ps-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .banner-desc {
    font-size: 18px;
    margin: 18px 0;
    text-align: center;
  }
  .verify-section {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .sign-in-btn {
    padding: 6px 10px;
  }
  .head-btn {
    padding: 6px 10px;
  }
  .banner-content .sign-in-btn {
    text-align: center;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }

  .banner-image {
    margin-top: 20px;
  }

  .main-sections {
    margin: 30px 0px 30px;
  }

  .call-para {
    font-size: 17px;
  }
  .footer-para {
    font-size: 15px;
  }
  .slider-spacing {
    padding: 49px 0 30px;
  }
  .right-arrow {
    right: 37.5%;
  }
  .left-arrow {
    left: 37.5%;
  }

  .call-section {
    width: 100%;
    border-radius: 16px;
    padding: 30px 30px;
  }

  .call-head {
    font-size: 34px;
    line-height: normal;
  }
  .call-btn-bx {
    display: block;
  }

  .post-project-btn {
    width: 100%;
  }

  .search-for-provider-btn {
    width: 100%;
  }

  .footer-spacing {
    padding: 20px 0;
  }

  #carouselMoment .item {
    height: 100%;
  }
}
